@import "card";

body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flat {
  flex: 50% 0 0;
  cursor: pointer;
  border: 6px solid transparent;
  &.selected {
    border: 6px red dashed;
  }
}



.flat-list {
  display: flex;
  flex-wrap: wrap;
}
